@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="display:flex; justify-content:center;">Movie Database Application</h1>
    <div style="display:flex; justify-content:center; margin-top:50px;">
    @Html.ActionLink("View", "Index", "Movies", null, new { @class = "btn-lg btn-primary", style= "text-decoration:none" })
    </div>
</div>

